<section class="mainbox">
  <form class="" action="/categories/<%= @category.id %>" method="post">
    <input id="name" type="text" name="name" value="<%= @category.id %>">
    <input type="submit" value="Update Category">
  </form>
  <p><a href="/categoies/<%= @category.id %>/delete">DELETE</a></p>
</section>
