<section class="mainbox">
  <form class="" action="/categories/<%= @category.id %>" method="post">
    <table>
      <tr>
        <td>
          <p class="label">Update category name:</p>
        </td>
        <td>
          <input id="name" type="text" name="name" value="<%= @category.name %>">
        </td>
      </tr>
    </table>
    <input type="submit" value="Update">
  </form>

</section>
