<section class="mainbox">

<p></p>


<div class="">
  <p><a href="/categories/new">Add new category</a></p>
  <table>
    <tr>
      <th>Category Name</th>
      <th></th>
    </tr>
<% @categories.each do |category| %>
    <tr>
      <td><p><%= category.name %></p></td>
      <td><a href="/categories/<%= category.id %>/edit">Edit/Delete</a></td>
    </tr>
  </table>
</div>
<hr />
<% end %>

</section>
