<section class="mainbox">
  <form class="" action="/categories" method="post">
    <table>
      <tr>
        <td>
          <p class="label">Enter new category name:</p>
        </td>
        <td>
          <input id="name" type="text" name="name">
        </td>
      </tr>
    </table>
    <input type="submit" value="Save">
  </form>
</section>
