<section class="mainbox">
  <div class="form">

  <form class="" action="/suppliers" method="post">
    <table>
      <tr>
        <td>
          <label for="name">Company Name:</label>
        </td>
        <td>
          <input id="name" type="text" name="company_name" value="">
        </td>
      </tr>
      <tr>
        <td>
          <label for="address">Address:</label>
        </td>
        <td>
          <input id="address" type="text" name="address" value="">
        </td>
      </tr>
      <tr>
        <td>
          <label for="telephone">Telephone:</label>
        </td>
        <td>
          <input id="telephone" type="text" name="telephone" value="">
        </td>
      </tr>
      <tr>
        <td>
          <label for="email">Email:</label>
        </td>
        <td>
          <input id="email" type="text" name="email" value="">
        </td>
      </tr>
      <tr>
        <td>
          <label for="web-address">Web Site:</label>
        </td>
        <td>
          <input id="web-address" type="text" name="web_address" value="">
        </td>
      </tr>
      <tr>
        <td>
          <label for="sales-contact">Sales contact:</label>
        </td>
        <td>
          <input id="sales-contact" type="text" name="sales_contact" value="">
        </td>
      </tr>
      <tr>
        <td>
          <label for="notes">Notes:</label>
        </td>
        <td>
          <input id="notes" type="textarea" name="notes" value="">
        </td>
      </tr>
    </table>
    <input type="submit" value="Save">

  </form>
  </div>
</section>
