<section class="mainbox">

  <form class="" action="/suppliers" method="post">

    <label for="name">Company Name:</label>
      <input id="name" type="text" name="company_name" value="">

    <label for="address">Address:</label>
      <input id="address" type="text" name="address" value="">

    <label for="telephone">Telephone:</label>
      <input id="telephone" type="text" name="telephone" value="">

    <label for="email">Email:</label>
      <input id="email" type="text" name="email" value="">

    <label for="web-address">Web Site:</label>
      <input id="web-address" type="text" name="web_address" value="">

    <label for="sales-contact">Sales contact:</label>
      <input id="sales-contact" type="text" name="sales_contact" value="">

    <label for="notes">Notes:</label>
      <input id="notes" type="textarea" name="notes" value="">

    <input type="submit" value="Save">

  </form>

</section>
