<section class="mainbox">
  <div class="home">

    <div class="home-center">

    <br>
      <h1>Bricks R Us</h1>



      <p>Welcome to your Lego stock inventory system!</p>

    </div>

  </div>

</section>
