<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lego Bricks R Us</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main id="">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/products">Products</a>
          </li>
          <li>
            <a href="/suppliers">Suppliers</a>
          </li>
          <li>
            <a href="/categories">Categories</a>
          </li>
          <li>
            <a href="/stock">Stock</a>
          </li>
        </ul>
      </nav>
      <section>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
